
@{
    ViewBag.Title = "Result Mapping Data";
}

<h2>Google Sheet Import</h2>
<div class="box-body" style="display:block;text-align:center;">
    <h3>The data successfully imported</h3>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary" onclick="$('.se-pre-con').show();">Done</a>
</div>



